<header>
    <div>
        <h3 class="ArtistDestination"></h3>
        <nav class="navigation ">
            
            <a href="Homepage.html">Home</a>
            <a href="about.html">About</a>
            <a href="show.ejs">Courses</a>
            <button class="btnlogin">Login</button>
        </nav>
    </div>
</header>