<nav class="navbar navbar-expand-lg bg-dark">
<header>
    <div>
        <h3 class="ArtistDestination"></h3>
        <nav class="navigation ">
            
            <a href="/art">Home</a>
            <a href="/art/about">About</a>
            <a href="/art/Show">Courses</a>
            <a href="/art/create">Add Course</a>
            <a href="/users/login">Login</a>
            
        </nav>
    </div>
</header>
</nav>