

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/css/about.css" type="text/css">
    <%-include('../partials/navbar')-%>
</head>
<body>
    

<div class="container">
  
    <h1>our project called "Artist destination where the artist or any user interesting in arts can access courses in pottery, painting, photography, etc.., and receiving guidance sessions from experienced artist. Thus ,the site is a good start destination for every aspiring artist.  <a class="highlight"><span>go down to know about us!</span></a></h1>
    
  </div>
  
  
    <main class="main">
        
        <section class="card-area">

            <!-- ohoud -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--city">
                                
                               <h2 class="card-front__heading">
                                Ohoud 
                            </h2>
                            <p class="card-front__text-price">
                               work on this website
                            </p>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--city">
                                        Know about me
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media" src="https://player.vimeo.com/external/370331493.sd.mp4?s=e90dcaba73c19e0e36f03406b47bbd6992dd6c1c&profile_id=139&oauth2_token_id=57447761" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--city">
                                student of cs
                            </h3>
                            <p class="inside-page__text">
                              study at Imam mouhammed Universty 
                            </p>
                            <a href="440024942@sm.imamu.edu.sa" class="inside-page__btn inside-page__btn--city">contact  </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- dalal -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--ski">
                                               <h2 class="card-front__heading">
                                                   Dalal 
                                               </h2>
                                               <p class="card-front__text-price">
                                                   work on this website
                                               </p>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--ski">
                                       know about me
                                    </p>
                                </div>
                            </div>

                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media" src="https://player.vimeo.com/external/195913085.sd.mp4?s=7c12f7a83de62a8900fd2ae049297070b9bc8a54&profile_id=164&oauth2_token_id=574477611" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--ski">
                                Student of CS
                            </h3>
                            <p class="inside-page__text">
                                study at Imam mouhammed Universty  
                            </p>
                            <a href="442013008@sm.imamu.edu.sa" class="inside-page__btn inside-page__btn--ski">contact</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Noura-->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--beach">
                               
                                               <h2 class="card-front__heading">
                                                  Noura 
                                               </h2>
                                               <p class="card-front__text-price">
                                                  work on this website
                                               </p>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--beach">
                                       know about me
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media" src="https://player.vimeo.com/external/332588783.sd.mp4?s=cab1817146dd72daa6346a1583cc1ec4d9e677c7&profile_id=139&oauth2_token_id=57447761" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--beach">
                                student of CS
                            </h3>
                            <p class="inside-page__text">
                                study at Imam mouhammed Universty 
                            </p>
                            <a href="442012667@sm.imamu.edu.sa" class="inside-page__btn inside-page__btn--beach">contact</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- kenda -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--camping">
                                   
                                               <h2 class="card-front__heading">
                                                  kenda 
                                               </h2>
                                               <p class="card-front__text-price">
                                                   work on this website
                                               </p>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--camping">
                                     know about me
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media" src="https://player.vimeo.com/external/180185916.sd.mp4?s=c893e4770f87b00e0d6b5a1de138b01b02aaa085&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--camping">
                                student of CS
                            </h3>
                            <p class="inside-page__text">
                                study at Imam mouhammed Universty 
                            </p>
                            <a href="442021979@sm.imamu.edu.sa" class="inside-page__btn inside-page__btn--camping">contact</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <footer class="footer">
            <p class="footer-text">&copy; 2024 Created by Imamu_students</p>
          </footer>
    </main>
</body>
</html>

