<!DOCTYPE html>
<html>

<%-include('../partials/header')-%>

<body>
    <div>
        <%-include('../partials/navbar')-%>

        <div class="welcom">
            <p class="msg01">Welcome to Artist Destination</p><br><br>
            <p class="msg02">Empowering Artists, Guiding Dreams</p><br><br>
           </div>
        <div class="msg">
            <p class="msg1">Unlock your creative potential with our diverse range of courses,
                from pottery to drawing and beyond. Start your artistic journey today!</p><br><br><br><br>
            <form action="">
                <input type="search11" required>
                <i class="fa fa-search"></i>
                <button class="searchbtn" onclick="clearInput()">Clear</button>
            </form>

        </div>


        <section class="classes">
            <div class="about-section">
                <div class="inner-container">
                    <h1>Painting</h1>
                    <p class="tx1">
                        A painting class provides guided instruction in various painting techniques,
                        from color theory to brushwork, fostering artistic development and expression. Participants can
                        explore different mediums and styles in a supportive environment,
                        receiving feedback and inspiration from both the instructor and fellow classmates. </p>
                    <div class="skills">

                        <span class="sp"> If you want to know more <a href="#">click here</a>
                        </span>

                    </div>
                </div>
            </div>
            <div class="about-section1">
                <div class="inner-container1">
                    <h1>Pottery</h1>
                    <p class="tx2">
                        In a pottery class, participants delve into the art of shaping clay into functional or
                        decorative objects through hand-building techniques or on a pottery wheel. Guided by an
                        experienced instructor, students learn fundamental skills such as wedging, molding, trimming,
                        and glazing, fostering both creativity and craftsmanship in a hands-on, collaborative
                        environment. </p>
                    <div class="skills1">

                        <span class="sp1"> If you want to know more <a href="#">click here</a>

                        </span>

                    </div>
                </div>
            </div>
            <div class="about-section2">
                <div class="inner-container">
                    <h1>Crochet</h1>
                    <p class="tx1">
                        A crochet class offers hands-on instruction in the art of crocheting,
                        teaching students how to create beautiful fabric using yarn and hooks. Participants
                        learn a variety of stitches and techniques, from beginner basics to advanced patterns,
                        in a supportive environment conducive to creativity and skill development. </p>
                    <div class="skills">

                        <span class="sp"> If you want to know more <a href="#">click here</a>

                        </span>

                    </div>
                </div>
            </div>
            <%-include('../partials/Footer')-%>

    </div>
</body>
</html>